@use '../variaveis.scss';

.container-form{
    display: flex;
    // justify-content: center;
    font-family: Inter;
    align-items: center;
    gap: 2rem;
    flex-direction: column;

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        align-items:center;
        gap: 2rem;

        input{
            border: 1px solid rgb(202, 202, 202);
            border-radius: 5px;
            padding: 0.5rem;
            outline: none;
        }

        button{
            border: none;
            padding: 0.5rem;
            border-radius: 5px;
            color: #ffffff;
            background-color: blue;
        }
    }
}